In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('isro_data.txt', delimiter='\s+', skiprows=22, header=None)
print(df.head(10))

     0    1   2   3   4    5   6       7       8        9   ...    18    19  \
0  2018  105  17  39  55   43  22 -0.0469 -0.0385  0.00542  ...  52.0  SYNC
1  2018  105  17  39  55  555  23 -0.0469 -0.0385  0.00542  ...  52.0  SYNC
2  2018  105  17  39  57   91  26 -0.0469 -0.0385  0.00542  ...  52.0  SYNC
3  2018  105  17  39  58  627  29 -0.0469 -0.0385  0.00542  ...  52.0  SYNC
4  2018  105  17  40   2  211   4 -0.0469 -0.0385  0.00542  ...  52.0  SYNC
5  2018  105  17  40   7  331  14 -0.0469 -0.0385  0.00542  ...  52.0  SYNC
6  2018  105  17  40   8  867  17 -0.0469 -0.0385  0.00542  ...  52.0  SYNC
7  2018  105  17  40  10  403  20 -0.0469 -0.0385  0.00542  ...  52.0  SYNC
8  2018  105  17  40  11  427  22 -0.0469 -0.0385  0.00542  ...  52.0  SYNC
9  2018  105  17  40  11  939  23 -0.0469 -0.0385  0.00542  ...  52.0  SYNC

   20  21  22    23        24   25   26  27
0  ON  ON  ON  SYNC  NOT_USBL  ENA  LOW  ON
1  ON  ON  ON  SYNC  NOT_USBL  ENA  LOW  ON
2  ON  ON  ON  SYNC  NOT_USBL  ENA  LOW  ON
3  ON  ON  ON  SYNC  NOT_USBL  ENA  LOW  ON
4  ON  ON  ON  SYNC  NOT_USBL  ENA  LOW  ON
5  ON  ON  ON  SYNC  NOT_USBL  ENA  LOW  ON
6  ON  ON  ON  SYNC  NOT_USBL  ENA  LOW  ON
7  ON  ON  ON  SYNC  NOT_USBL  ENA  LOW  ON
8  ON  ON  ON  SYNC  NOT_USBL  ENA  LOW  ON
9  ON  ON  ON  SYNC  NOT_USBL  ENA  LOW  ON

[10 rows x 28 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186298 entries, 0 to 186297
Data columns (total 28 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       186298 non-null  int64
 1   1       186298 non-null  int64
 2   2       186298 non-null  int64
 3   3       186298 non-null  int64
 4   4       186298 non-null  int64
 5   5       186298 non-null  int64
 6   6       186298 non-null  int64
 7   7       186298 non-null  float64
 8   8       186298 non-null  float64
 9   9       186298 non-null  float64
 10  10      186298 non-null  float64
 11  11      186298 non-null  float64
 12  12      186298 non-null  float64
 13  13      186298 non-null  float64
 14  14      186298 non-null  float64
 15  15      186298 non-null  float64
 16  16      186298 non-null  float64
 17  17      186298 non-null  float64
 18  18      186298 non-null  float64
 19  19      186298 non-null  object
 20  20      186298 non-null  object
 21  21      186298 non-null  object
 22  22      186298 non-null  object
 23  23      186298 non-null  object
 24  24      186298 non-null  object
 25  25      186298 non-null  object
 26  26      186298 non-null  object
 27  27      186298 non-null  object
dtypes: float64(12), int64(7), object(9)
memory usage: 39.8+ MB

In [4]:
for col in df.columns[0:7]:
    df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')
df.iloc[:, 0:7] = df.iloc[:, 0:7].astype(str)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186298 entries, 0 to 186297
Data columns (total 28 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       186298 non-null  object
 1   1       186298 non-null  object
 2   2       186298 non-null  object
 3   3       186298 non-null  object
 4   4       186298 non-null  object
 5   5       186298 non-null  object
 6   6       186298 non-null  object
 7   7       186298 non-null  float64
 8   8       186298 non-null  float64
 9   9       186298 non-null  float64
 10  10      186298 non-null  float64
 11  11      186298 non-null  float64
 12  12      186298 non-null  float64
 13  13      186298 non-null  float64
 14  14      186298 non-null  float64
 15  15      186298 non-null  float64
 16  16      186298 non-null  float64
 17  17      186298 non-null  float64
 18  18      186298 non-null  float64
 19  19      186298 non-null  object
 20  20      186298 non-null  object
 21  21      186298 non-null  object
 22  22      186298 non-null  object
 23  23      186298 non-null  object
 24  24      186298 non-null  object
 25  25      186298 non-null  object
 26  26      186298 non-null  object
 27  27      186298 non-null  object
dtypes: float64(12), object(16)
memory usage: 39.8+ MB

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2018,105,17,39,55,43,22,-0.0469,-0.0385,0.00542,...,52.0,SYNC,ON,ON,ON,SYNC,NOT_USBL,ENA,LOW,ON
1,2018,105,17,39,55,555,23,-0.0469,-0.0385,0.00542,...,52.0,SYNC,ON,ON,ON,SYNC,NOT_USBL,ENA,LOW,ON
2,2018,105,17,39,57,91,26,-0.0469,-0.0385,0.00542,...,52.0,SYNC,ON,ON,ON,SYNC,NOT_USBL,ENA,LOW,ON
3,2018,105,17,39,58,627,29,-0.0469,-0.0385,0.00542,...,52.0,SYNC,ON,ON,ON,SYNC,NOT_USBL,ENA,LOW,ON
4,2018,105,17,40,2,211,4,-0.0469,-0.0385,0.00542,...,52.0,SYNC,ON,ON,ON,SYNC,NOT_USBL,ENA,LOW,ON

In [7]:
# df['Datetime'] = pd.to_datetime(df.iloc[:, 0:7].astype(str).apply(' '.join, axis=1), format='%Y %j %H %M %S %f %f')
# print(df.head(10))

In [8]:
column_headings = [
    "Year",
    "Day of year",
    "Hour",
    "Minute",
    "Second",
    "Millisecond",
    "Microsecond",
    "DTG-1_PCH_ANALOG_RAT (Analog)",
    "DTG-1_ROL_ANALOG_RAT (Analog)",
    "DTG-1_PCH_FINE_RATE (Analog)",
    "DTG-1_ROL_FINE_RATE (Analog)",
    "DTG-2_YAW_ANALOG_RAT (Analog)",
    "DTG-2_PCH_ANALOG_RAT (Analog)",
    "DTG-2_YAW_FINE_RATE (Analog)",
    "DTG-2_PCH_FINE_RATE (Analog)",
    "DTG-1_TH_TEMP (Analog)",
    "DTG-1_ELECTRONICS_TH (Analog)",
    "DTG-2_TH_TEMP (Analog)",
    "DTG-2_ELECTRONICS_TH (Analog)",
    "DTG-2_SYNC_STS (Digital)",
    "DTG-2_ON_STS (Digital)",
    "DTG-1_ON_STS (Digital)",
    "DTG-2_RB_SUPPLY_STS (Digital)",
    "DTG-1_SYNC_STS (Digital)",
    "DTG-3_USBL_STS (Digital)",
    "DTG_ANALOG_RATE_CHK (Digital)",
    "DTG-2_TEMP_SEL_CMD_S (Digital)",
    "DTG-1_RB_SUPPLY_STS (Digital)"
]

df.columns = column_headings
print(df.head(10))

   Year Day of year Hour Minute Second Millisecond Microsecond  \
0  2018         105   17     39     55          43          22
1  2018         105   17     39     55         555          23
2  2018         105   17     39     57          91          26
3  2018         105   17     39     58         627          29
4  2018         105   17     40      2         211           4
5  2018         105   17     40      7         331          14
6  2018         105   17     40      8         867          17
7  2018         105   17     40     10         403          20
8  2018         105   17     40     11         427          22
9  2018         105   17     40     11         939          23

   DTG-1_PCH_ANALOG_RAT (Analog)  DTG-1_ROL_ANALOG_RAT (Analog)  \
0                        -0.0469                        -0.0385
1                        -0.0469                        -0.0385
2                        -0.0469                        -0.0385
3                        -0.0469                        -0.0385
4                        -0.0469                        -0.0385
5                        -0.0469                        -0.0385
6                        -0.0469                        -0.0385
7                        -0.0469                        -0.0385
8                        -0.0469                        -0.0385
9                        -0.0469                        -0.0385

   DTG-1_PCH_FINE_RATE (Analog)  ...  DTG-2_ELECTRONICS_TH (Analog)  \
0                       0.00542  ...                           52.0
1                       0.00542  ...                           52.0
2                       0.00542  ...                           52.0
3                       0.00542  ...                           52.0
4                       0.00542  ...                           52.0
5                       0.00542  ...                           52.0
6                       0.00542  ...                           52.0
7                       0.00542  ...                           52.0
8                       0.00542  ...                           52.0
9                       0.00542  ...                           52.0

   DTG-2_SYNC_STS (Digital)  DTG-2_ON_STS (Digital)  DTG-1_ON_STS (Digital)  \
0                      SYNC                      ON                      ON
1                      SYNC                      ON                      ON
2                      SYNC                      ON                      ON
3                      SYNC                      ON                      ON
4                      SYNC                      ON                      ON
5                      SYNC                      ON                      ON
6                      SYNC                      ON                      ON
7                      SYNC                      ON                      ON
8                      SYNC                      ON                      ON
9                      SYNC                      ON                      ON

   DTG-2_RB_SUPPLY_STS (Digital)  DTG-1_SYNC_STS (Digital)  \
0                             ON                      SYNC
1                             ON                      SYNC
2                             ON                      SYNC
3                             ON                      SYNC
4                             ON                      SYNC
5                             ON                      SYNC
6                             ON                      SYNC
7                             ON                      SYNC
8                             ON                      SYNC
9                             ON                      SYNC

   DTG-3_USBL_STS (Digital)  DTG_ANALOG_RATE_CHK (Digital)  \
0                  NOT_USBL                            ENA
1                  NOT_USBL                            ENA
2                  NOT_USBL                            ENA
3                  NOT_USBL                            ENA
4                  NOT_USBL                            ENA
5                  NOT_USBL                            ENA
6                  NOT_USBL                            ENA
7                  NOT_USBL                            ENA
8                  NOT_USBL                            ENA
9                  NOT_USBL                            ENA

   DTG-2_TEMP_SEL_CMD_S (Digital) DTG-1_RB_SUPPLY_STS (Digital)
0                             LOW                            ON
1                             LOW                            ON
2                             LOW                            ON
3                             LOW                            ON
4                             LOW                            ON
5                             LOW                            ON
6                             LOW                            ON
7                             LOW                            ON
8                             LOW                            ON
9                             LOW                            ON

[10 rows x 28 columns]

In [9]:
df.isna().sum()

Year                              0
Day of year                       0
Hour                              0
Minute                            0
Second                            0
Millisecond                       0
Microsecond                       0
DTG-1_PCH_ANALOG_RAT (Analog)     0
DTG-1_ROL_ANALOG_RAT (Analog)     0
DTG-1_PCH_FINE_RATE (Analog)      0
DTG-1_ROL_FINE_RATE (Analog)      0
DTG-2_YAW_ANALOG_RAT (Analog)     0
DTG-2_PCH_ANALOG_RAT (Analog)     0
DTG-2_YAW_FINE_RATE (Analog)      0
DTG-2_PCH_FINE_RATE (Analog)      0
DTG-1_TH_TEMP (Analog)            0
DTG-1_ELECTRONICS_TH (Analog)     0
DTG-2_TH_TEMP (Analog)            0
DTG-2_ELECTRONICS_TH (Analog)     0
DTG-2_SYNC_STS (Digital)          0
DTG-2_ON_STS (Digital)            0
DTG-1_ON_STS (Digital)            0
DTG-2_RB_SUPPLY_STS (Digital)     0
DTG-1_SYNC_STS (Digital)          0
DTG-3_USBL_STS (Digital)          0
DTG_ANALOG_RATE_CHK (Digital)     0
DTG-2_TEMP_SEL_CMD_S (Digital)    0
DTG-1_RB_SUPPLY_STS (Digital)     0
dtype: int64

In [10]:
columns_to_encode = ["DTG-2_SYNC_STS (Digital)", "DTG-2_ON_STS (Digital)", "DTG-1_ON_STS (Digital)",
                     "DTG-2_RB_SUPPLY_STS (Digital)", "DTG-1_SYNC_STS (Digital)", "DTG-3_USBL_STS (Digital)",
                     "DTG_ANALOG_RATE_CHK (Digital)", "DTG-2_TEMP_SEL_CMD_S (Digital)", "DTG-1_RB_SUPPLY_STS (Digital)"]

In [11]:
for column in columns_to_encode:
    unique_values = df[column].unique()
    print(f"Unique values in {column}: {unique_values}")

Unique values in DTG-2_SYNC_STS (Digital): ['SYNC' 'NO_SYNC']
Unique values in DTG-2_ON_STS (Digital): ['ON' 'OFF']
Unique values in DTG-1_ON_STS (Digital): ['ON' 'OFF']
Unique values in DTG-2_RB_SUPPLY_STS (Digital): ['ON' 'OFF']
Unique values in DTG-1_SYNC_STS (Digital): ['SYNC' 'NO_SYNC']
Unique values in DTG-3_USBL_STS (Digital): ['NOT_USBL' 'USBL']
Unique values in DTG_ANALOG_RATE_CHK (Digital): ['ENA' 'DIS']
Unique values in DTG-2_TEMP_SEL_CMD_S (Digital): ['LOW' 'HIGH']
Unique values in DTG-1_RB_SUPPLY_STS (Digital): ['ON' 'OFF']

In [12]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for column in columns_to_encode:
    df[column] = label_encoder.fit_transform(df[column])
    encoding_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
    print(encoding_mapping)

{'NO_SYNC': 0, 'SYNC': 1}
{'OFF': 0, 'ON': 1}
{'OFF': 0, 'ON': 1}
{'OFF': 0, 'ON': 1}
{'NO_SYNC': 0, 'SYNC': 1}
{'NOT_USBL': 0, 'USBL': 1}
{'DIS': 0, 'ENA': 1}
{'HIGH': 0, 'LOW': 1}
{'OFF': 0, 'ON': 1}

In [13]:
for column in columns_to_encode:
    unique_values = df[column].unique()
    print(f"Unique values in {column}: {unique_values}")

Unique values in DTG-2_SYNC_STS (Digital): [1 0]
Unique values in DTG-2_ON_STS (Digital): [1 0]
Unique values in DTG-1_ON_STS (Digital): [1 0]
Unique values in DTG-2_RB_SUPPLY_STS (Digital): [1 0]
Unique values in DTG-1_SYNC_STS (Digital): [1 0]
Unique values in DTG-3_USBL_STS (Digital): [0 1]
Unique values in DTG_ANALOG_RATE_CHK (Digital): [1 0]
Unique values in DTG-2_TEMP_SEL_CMD_S (Digital): [1 0]
Unique values in DTG-1_RB_SUPPLY_STS (Digital): [1 0]

In [14]:
df.head(10)

,Year,Day of year,Hour,Minute,Second,Millisecond,Microsecond,DTG-1_PCH_ANALOG_RAT (Analog),DTG-1_ROL_ANALOG_RAT (Analog),DTG-1_PCH_FINE_RATE (Analog),...,DTG-2_ELECTRONICS_TH (Analog),DTG-2_SYNC_STS (Digital),DTG-2_ON_STS (Digital),DTG-1_ON_STS (Digital),DTG-2_RB_SUPPLY_STS (Digital),DTG-1_SYNC_STS (Digital),DTG-3_USBL_STS (Digital),DTG_ANALOG_RATE_CHK (Digital),DTG-2_TEMP_SEL_CMD_S (Digital),DTG-1_RB_SUPPLY_STS (Digital)
0,2018,105,17,39,55,43,22,-0.0469,-0.0385,0.00542,...,52.0,1,1,1,1,1,0,1,1,1
1,2018,105,17,39,55,555,23,-0.0469,-0.0385,0.00542,...,52.0,1,1,1,1,1,0,1,1,1
2,2018,105,17,39,57,91,26,-0.0469,-0.0385,0.00542,...,52.0,1,1,1,1,1,0,1,1,1
3,2018,105,17,39,58,627,29,-0.0469,-0.0385,0.00542,...,52.0,1,1,1,1,1,0,1,1,1
4,2018,105,17,40,2,211,4,-0.0469,-0.0385,0.00542,...,52.0,1,1,1,1,1,0,1,1,1
5,2018,105,17,40,7,331,14,-0.0469,-0.0385,0.00542,...,52.0,1,1,1,1,1,0,1,1,1
6,2018,105,17,40,8,867,17,-0.0469,-0.0385,0.00542,...,52.0,1,1,1,1,1,0,1,1,1
7,2018,105,17,40,10,403,20,-0.0469,-0.0385,0.00542,...,52.0,1,1,1,1,1,0,1,1,1
8,2018,105,17,40,11,427,22,-0.0469,-0.0385,0.00542,...,52.0,1,1,1,1,1,0,1,1,1
9,2018,105,17,40,11,939,23,-0.0469,-0.0385,0.00542,...,52.0,1,1,1,1,1,0,1,1,1

In [15]:
df.tail(10)

,Year,Day of year,Hour,Minute,Second,Millisecond,Microsecond,DTG-1_PCH_ANALOG_RAT (Analog),DTG-1_ROL_ANALOG_RAT (Analog),DTG-1_PCH_FINE_RATE (Analog),...,DTG-2_ELECTRONICS_TH (Analog),DTG-2_SYNC_STS (Digital),DTG-2_ON_STS (Digital),DTG-1_ON_STS (Digital),DTG-2_RB_SUPPLY_STS (Digital),DTG-1_SYNC_STS (Digital),DTG-3_USBL_STS (Digital),DTG_ANALOG_RATE_CHK (Digital),DTG-2_TEMP_SEL_CMD_S (Digital),DTG-1_RB_SUPPLY_STS (Digital)
186288,2018,138,12,35,23,964,29,-0.0469,-0.0385,0.00577,...,51.0,1,1,1,1,1,0,1,1,1
186289,2018,138,12,39,33,310,4,-0.0469,-0.0385,0.00577,...,51.0,1,1,1,1,1,0,1,1,1
186290,2018,138,12,39,38,430,14,-0.0469,-0.0385,0.00577,...,51.0,1,1,1,1,1,0,1,1,1
186291,2018,138,12,39,39,966,17,-0.0469,-0.0385,0.00577,...,51.0,1,1,1,1,1,0,1,1,1
186292,2018,138,12,39,41,502,20,-0.0469,-0.0385,0.00577,...,51.0,1,1,1,1,1,0,1,1,1
186293,2018,138,12,39,42,526,22,-0.0469,-0.0385,0.00577,...,51.0,1,1,1,1,1,0,1,1,1
186294,2018,138,12,39,43,38,23,-0.0469,-0.0385,0.00582,...,51.0,1,1,1,1,1,0,1,1,1
186295,2018,138,12,39,44,574,26,-0.0469,-0.0385,0.00582,...,51.0,1,1,1,1,1,0,1,1,1
186296,2018,138,12,39,46,110,29,-0.0469,-0.0385,0.00582,...,51.0,1,1,1,1,1,0,1,1,1
186297,2018,138,12,43,55,455,4,-0.0469,-0.0385,0.00582,...,51.0,1,1,1,1,1,0,1,1,1

In [16]:
from sklearn.preprocessing import MinMaxScaler

columns_to_normalize = ["DTG-1_PCH_ANALOG_RAT (Analog)", "DTG-1_ROL_ANALOG_RAT (Analog)",
                         "DTG-1_PCH_FINE_RATE (Analog)", "DTG-1_ROL_FINE_RATE (Analog)",
                         "DTG-2_YAW_ANALOG_RAT (Analog)", "DTG-2_PCH_ANALOG_RAT (Analog)",
                         "DTG-2_YAW_FINE_RATE (Analog)", "DTG-2_PCH_FINE_RATE (Analog)",
                         "DTG-1_TH_TEMP (Analog)", "DTG-1_ELECTRONICS_TH (Analog)",
                         "DTG-2_TH_TEMP (Analog)", "DTG-2_ELECTRONICS_TH (Analog)"]

scaler = MinMaxScaler()

df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

In [17]:
def derive_month_day(row):
    year = row['Year']
    day_of_year = row['Day of year']
    
    # Create a datetime object for the given year and day of the year
    date = pd.to_datetime(f'{year}-{day_of_year}', format='%Y-%j')
    
    
    # Extract month and day from the datetime object
    row['Month'] = date.month
    row['Day'] = date.day
    
    return row

# Apply the function to the DataFrame
df = df.apply(derive_month_day, axis=1)

# Drop the original 'Year' and 'Day of the year' columns if needed
df = df.drop(columns=['Day of year'])

print(df.head(5))

   Year Hour Minute Second Millisecond Microsecond  \
0  2018   17     39     55          43          22
1  2018   17     39     55         555          23
2  2018   17     39     57          91          26
3  2018   17     39     58         627          29
4  2018   17     40      2         211           4

   DTG-1_PCH_ANALOG_RAT (Analog)  DTG-1_ROL_ANALOG_RAT (Analog)  \
0                        0.47191                          0.225
1                        0.47191                          0.225
2                        0.47191                          0.225
3                        0.47191                          0.225
4                        0.47191                          0.225

   DTG-1_PCH_FINE_RATE (Analog)  DTG-1_ROL_FINE_RATE (Analog)  ...  \
0                      0.451191                      0.509713  ...
1                      0.451191                      0.509713  ...
2                      0.451191                      0.509713  ...
3                      0.451191                      0.509713  ...
4                      0.451191                      0.509713  ...

   DTG-2_ON_STS (Digital)  DTG-1_ON_STS (Digital)  \
0                       1                       1
1                       1                       1
2                       1                       1
3                       1                       1
4                       1                       1

   DTG-2_RB_SUPPLY_STS (Digital)  DTG-1_SYNC_STS (Digital)  \
0                              1                         1
1                              1                         1
2                              1                         1
3                              1                         1
4                              1                         1

   DTG-3_USBL_STS (Digital)  DTG_ANALOG_RATE_CHK (Digital)  \
0                         0                              1
1                         0                              1
2                         0                              1
3                         0                              1
4                         0                              1

   DTG-2_TEMP_SEL_CMD_S (Digital)  DTG-1_RB_SUPPLY_STS (Digital)  Month  Day
0                               1                              1      4   15
1                               1                              1      4   15
2                               1                              1      4   15
3                               1                              1      4   15
4                               1                              1      4   15

[5 rows x 29 columns]

In [18]:
df['Datetime'] = pd.to_datetime(df[['Year', 'Month', 'Day', 'Hour', 'Minute', 'Second', 'Millisecond', 'Microsecond']])

In [19]:
df=df.drop(['Year', 'Month', 'Day', 'Hour', 'Minute', 'Second', 'Millisecond', 'Microsecond'], axis=1)

In [20]:
df.head(10)

,DTG-1_PCH_ANALOG_RAT (Analog),DTG-1_ROL_ANALOG_RAT (Analog),DTG-1_PCH_FINE_RATE (Analog),DTG-1_ROL_FINE_RATE (Analog),DTG-2_YAW_ANALOG_RAT (Analog),DTG-2_PCH_ANALOG_RAT (Analog),DTG-2_YAW_FINE_RATE (Analog),DTG-2_PCH_FINE_RATE (Analog),DTG-1_TH_TEMP (Analog),DTG-1_ELECTRONICS_TH (Analog),...,DTG-2_SYNC_STS (Digital),DTG-2_ON_STS (Digital),DTG-1_ON_STS (Digital),DTG-2_RB_SUPPLY_STS (Digital),DTG-1_SYNC_STS (Digital),DTG-3_USBL_STS (Digital),DTG_ANALOG_RATE_CHK (Digital),DTG-2_TEMP_SEL_CMD_S (Digital),DTG-1_RB_SUPPLY_STS (Digital),Datetime
0,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.533333,0.450593,0.965517,0.97561,...,1,1,1,1,1,0,1,1,1,2018-04-15 17:39:55.043022
1,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,0.97561,...,1,1,1,1,1,0,1,1,1,2018-04-15 17:39:55.555023
2,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,0.97561,...,1,1,1,1,1,0,1,1,1,2018-04-15 17:39:57.091026
3,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,0.97561,...,1,1,1,1,1,0,1,1,1,2018-04-15 17:39:58.627029
4,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,0.97561,...,1,1,1,1,1,0,1,1,1,2018-04-15 17:40:02.211004
5,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,0.97561,...,1,1,1,1,1,0,1,1,1,2018-04-15 17:40:07.331014
6,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,0.97561,...,1,1,1,1,1,0,1,1,1,2018-04-15 17:40:08.867017
7,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,0.97561,...,1,1,1,1,1,0,1,1,1,2018-04-15 17:40:10.403020
8,0.47191,0.225,0.451191,0.509713,0.086957,0.548387,0.529317,0.450593,0.965517,0.97561,...,1,1,1,1,1,0,1,1,1,2018-04-15 17:40:11.427022
9,0.47191,0.225,0.451191,0.505828,0.086957,0.548387,0.533333,0.446640,0.965517,0.97561,...,1,1,1,1,1,0,1,1,1,2018-04-15 17:40:11.939023

In [21]:
datetime_column = df['Datetime']
df = df.drop(columns=['Datetime'])
df.insert(0, 'Datetime', datetime_column)

In [22]:
df.head()

,Datetime,DTG-1_PCH_ANALOG_RAT (Analog),DTG-1_ROL_ANALOG_RAT (Analog),DTG-1_PCH_FINE_RATE (Analog),DTG-1_ROL_FINE_RATE (Analog),DTG-2_YAW_ANALOG_RAT (Analog),DTG-2_PCH_ANALOG_RAT (Analog),DTG-2_YAW_FINE_RATE (Analog),DTG-2_PCH_FINE_RATE (Analog),DTG-1_TH_TEMP (Analog),...,DTG-2_ELECTRONICS_TH (Analog),DTG-2_SYNC_STS (Digital),DTG-2_ON_STS (Digital),DTG-1_ON_STS (Digital),DTG-2_RB_SUPPLY_STS (Digital),DTG-1_SYNC_STS (Digital),DTG-3_USBL_STS (Digital),DTG_ANALOG_RATE_CHK (Digital),DTG-2_TEMP_SEL_CMD_S (Digital),DTG-1_RB_SUPPLY_STS (Digital)
0,2018-04-15 17:39:55.043022,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.533333,0.450593,0.965517,...,0.97561,1,1,1,1,1,0,1,1,1
1,2018-04-15 17:39:55.555023,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,...,0.97561,1,1,1,1,1,0,1,1,1
2,2018-04-15 17:39:57.091026,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,...,0.97561,1,1,1,1,1,0,1,1,1
3,2018-04-15 17:39:58.627029,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,...,0.97561,1,1,1,1,1,0,1,1,1
4,2018-04-15 17:40:02.211004,0.47191,0.225,0.451191,0.509713,0.108696,0.548387,0.529317,0.450593,0.965517,...,0.97561,1,1,1,1,1,0,1,1,1

In [24]:
df.to_csv("preprocessed_isro_data.csv", index=False)